<div class="" *ngIf="!service">
  <mdl-progress indeterminate="true" style="width:100%;"></mdl-progress>
</div>


  <div  class="service-detail andgo-card-container mdl-grid" *ngIf="service">
    <!-- Left block -->
     <div class="mdl-cell mdl-cell--12-col" >
       <button mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple (click)="BackToUrl()" style="height: 30px;margin-left: 10px;padding-left: 0px;line-height: 29px;"><mdl-icon>chevron_left</mdl-icon><strong>Back</strong></button>
     </div>
    <div class="mdl-cell mdl-cell--8-col" >
     
      <mdl-card class="mdl-cell mdl-cell--12-col mdl-cell--4-col-tablet mdl-cell--4-col-phone" mdl-shadow="3">
        <h3 style="margin-left: 25px;padding-bottom: 5px;padding-top: 5px;">{{service.name}}</h3>
        <div class="mdl-card__media">
          <!-- <p-galleria *ngIf="serviceImages" [images]="serviceImages" panelWidth="100%" panelHeight="35vh" [showFilmstrip]="true" [showCaption]="false"></p-galleria> -->
          <p-carousel [value]="service.images" circular="circular" autoplayInterval="5000" responsive="true">
            <ng-template let-img pTemplate="item">
                <div class="ui-grid ui-grid-responsive">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-12"><img src="{{img.path}}" width="60"></div>
                    </div>
                </div>
            </ng-template>
          </p-carousel>
        </div>
        <mdl-card-title>
            <h4 mdl-card-title-text class="mdl-typography--text-center">{{service.name}}</h4>&nbsp;
            <rating class="mdl-typography--text-center" [ngModel]="service.grading" [max]="5" [titles]="['One Star', 'Two Star', 'Three Star', 'Four Star', 'Five Star']" [readonly]="true"></rating>
        </mdl-card-title>
        <mdl-tabs mdl-ripple mdl-tab-active-index="0">
          <mdl-tab-panel>
            <mdl-tab-panel-title>
              <h6 [mdl-badge]="service.rates.length">PRICE</h6>
            </mdl-tab-panel-title>
            <mdl-tab-panel-content>
              <div class="mdl-grid" *ngFor="let rate of service.rates">
                  <p class="mdl-cell mdl-cell--4-col" style="line-height: 36px;">{{rate.nights}} Nights</p>
                  <p class="mdl-cell mdl-cell--4-col" style="line-height: 36px;">{{rate.startDate | date:'dd-MM-yyyy'}} - {{rate.endDate | date:'dd-MM-yyyy'}}</p>
                  <p class="mdl-cell mdl-cell--2-col" style="line-height: 36px;">From <strong class="mdl-color-text--primary">R{{rate.sellPrice | number:'.2-2'}}</strong></p>
                  <p class="mdl-cell mdl-cell--2-col" style="line-height: 36px;">
                    <button mdl-button mdl-button-type="raised" mdl-colored="accent" #enquireButton mdl-ripple (click)="selectRate(rate);enquireDialog.show()" class="andgo-link"><strong>Enquire</strong><mdl-icon>chevron_right</mdl-icon></button>
                  </p>
              </div>
            </mdl-tab-panel-content>
          </mdl-tab-panel>

          <mdl-tab-panel>
            <mdl-tab-panel-title>
              <h6>Description</h6>
            </mdl-tab-panel-title>
            <mdl-tab-panel-content>
              
              <div [innerHTML]="service.contentShortSafe"></div>
              <div [innerHTML]="service.contentSafe"></div>
              <hr/>
              <div>
                <h5>Terms & Conditions:</h5>
                <ul>
                  <li>Long weekend and school holiday surcharges apply</li>
                  <li>Valid for SA Residents</li>
                  <li>All prices are per person sharing unless otherwise specified</li>
                  <li>Packages are subject to availability at the time of the reservation</li>
                  <li>Passport & visa costs (if applicable), travel insurance & items of a personal nature are also not included</li>
                  <li>Prices are subject to change without prior notice due to airfare increases and currency fluctuations</li>
                  <li>Standard terms and conditions apply</li>
                </ul>
              </div>
            </mdl-tab-panel-content>
          </mdl-tab-panel>

          <mdl-tab-panel>
            <mdl-tab-panel-title>
              <h6 [mdl-badge]="service.otherOffers" >Other Offers</h6>
              
            </mdl-tab-panel-title>
            <mdl-tab-panel-content>
            
             <app-service-list (count)="service.otherOffers=$event" [query]="service.tags" [col]="4" [col-tablet]="6" [col-phone]="12"></app-service-list>
            </mdl-tab-panel-content>
          </mdl-tab-panel>
        </mdl-tabs>
      </mdl-card>
    </div>
    <!-- Right blocks -->
    <div class="mdl-cell mdl-cell--4-col">
      <mdl-card class="mdl-cell mdl-cell--12-col mdl-cell--4-col-tablet mdl-cell--4-col-phone" mdl-shadow="3">
        <div class="mdl-card__media" [style.background-image]="service.imageUrlBg">
          <!-- <img [src]="srv.imageUrl"> -->
        </div>
        <mdl-card-title>
            <h4 mdl-card-title-text class="">{{service.name}}</h4><br/>
        </mdl-card-title>
        <mdl-card-supporting-text class="">
          <!-- <rating class="mdl-typography--text-center" [ngModel]="service.grading" [max]="5" [titles]="['One Star', 'Two Star', 'Three Star', 'Four Star', 'Five Star']" [readonly]="true"></rating> -->

          <span class="mdl-typography--font-light mdl-typography--subhead">{{service.tagline}}</span>
          <hr/>
          <div class="mdl-typography--text-center">
            <span class="mdl-typography--font-light mdl-typography--subhead mdl-typography--text-center">{{service.rateFrom.nights}} Nights from <strong class="mdl-color-text--primary">R{{service.rateFrom.sellPrice | number:'.2-2'}}</strong></span>
            <br>
            <span class="mdl-typography--font-light mdl-typography--subhead">Valid {{service.rateFrom.startDate | date:'dd-MM-yyyy'}} - {{service.rateFrom.endDate | date:'dd-MM-yyyy'}}</span>
          </div>
        </mdl-card-supporting-text>
        <mdl-card-actions class="mdl-typography--text-center">
            <button class="mdl-cell mdl-cell--6-col" mdl-button mdl-button-type="raised" mdl-colored="accent" mdl-ripple #enquireButton (click)="selectRate(service.rateFrom);enquireDialog.show()" class="andgo-link"><strong>Enquire Now</strong><mdl-icon>chevron_right</mdl-icon></button>
        </mdl-card-actions>
      </mdl-card>

      <mdl-card class="mdl-cell mdl-cell--12-col mdl-cell--4-col-tablet mdl-cell--4-col-phone" mdl-shadow="3">
        <mdl-card-title>
            <h4 mdl-card-title-text>Need andgo.com Help?</h4>
        </mdl-card-title>
        <mdl-card-supporting-text class="">
          <span class="">We would be more than happy to help you. Our team are at your service to help you.</span>
          <br>
          <br>
          <div class="mdl-grid">
            <span class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone"><mdl-icon>call</mdl-icon> <strong class="mdl-color-text--primary">021 556 5884</strong></span>
            <span class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone"><mdl-icon>email</mdl-icon> <strong class="mdl-color-text--primary"><a href="mailto:info@andgo.com">info@andgo.com</a></strong></span>
          </div>
        </mdl-card-supporting-text>
      </mdl-card>

      <mdl-card class="mdl-cell mdl-cell--12-col mdl-cell--4-col-tablet mdl-cell--4-col-phone" mdl-shadow="3" *ngIf="services && services.length > 0">
        <mdl-card-title>
            <h4 mdl-card-title-text >Other Offers</h4>
        </mdl-card-title>
        <mdl-card-supporting-text class="">
          <span class="mdl-typography--font-light mdl-typography--subhead" *ngFor="let srv of services | slice:0:4" >
            <a class="andgo-link mdl-typography--font-light mdl-grid" [routerLink]="['../../package/', srv.seo?.alias]">
              <span class="mdl-cell mdl-cell--3-col">
                <img [src]="srv.imageUrl" style="width: 100%;"/>
              </span>
              <span class="mdl-cell mdl-cell--9-col">
                <strong>{{srv.name}}</strong><br/>
                {{service.nights}} Nights from <strong class="mdl-color-text--primary">R{{service.rateFrom.sellPrice | number:'.2-2'}}</strong>
              </span>
            </a>
          </span>
        </mdl-card-supporting-text>
      </mdl-card>

      <mdl-card class="mdl-cell mdl-cell--12-col mdl-cell--4-col-tablet mdl-cell--4-col-phone" mdl-shadow="3">
        <mdl-card-title>
            <h4 mdl-card-title-text>Why Book with us?</h4>
        </mdl-card-title>
        <mdl-card-supporting-text class="">
          <span class="">
            <mdl-icon>card_giftcard</mdl-icon> <strong class="mdl-color-text--primary">Best Deals</strong><br/>
            We pride ourselves in negotiating the best deals for you. Don’t pay more elsewhere!
          </span>
          <hr>
          <span class="">
            <mdl-icon>done_all</mdl-icon> <strong class="mdl-color-text--primary">Large Selection</strong><br/>
            Our selection of hand-picked properties ensures a wide range of options to suit most budgets.
          </span>
          <hr>
          <span class="">
            <mdl-icon>headset_mic</mdl-icon> <strong class="mdl-color-text--primary">Expert Advice</strong><br/>
            Our experienced Holiday Consultants will ensure that your holidays surpass all expectations.
          </span>
          <hr>
          <span class="">
            <mdl-icon>gamepad</mdl-icon> <strong class="mdl-color-text--primary">Tailor-made</strong><br/>
            All of our packages are flexible and can be arranged to suit your specific requirements.
          </span>
        </mdl-card-supporting-text>
      </mdl-card>
    </div>
  </div>

  <mdl-dialog style="width:60% !important;" #enquireDialog
            [mdl-dialog-config]="{
              clickOutsideToClose: false,
              classes:'mdl-cell--8-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone mdlcustom',
              isModal:true,
              enterTransitionDuration: 400,
              leaveTransitionDuration: 400}"  >
  <h3 class="mdl-dialog__title">
    {{service?.name}}<br><small>{{service?.tagline}}</small>
  </h3>
  <div class="mdl-dialog__content" style="padding-left:0px; padding-right: 0px;">
    <span class="mdl-typography--font-light mdl-typography--subhead">
      You are enquiring for {{rateSelected?.nights}} nights from <strong class="mdl-color-text--primary">R{{rateSelected?.sellPrice | number:'.2-2'}}</strong><br/>
      This price is only valid for travel between {{rateSelected?.startDate | date:'dd-MM-yyyy'}} to {{rateSelected?.endDate | date:'dd-MM-yyyy'}}
    </span>
    <hr/>
    <form #formEnquiry="ngForm" id="formEnquiry" (ngSubmit)="formEnquiry.form.valid && submitEnquiry(service)" ngNativeValidate class="mdl-grid" >
      <div class="mdl-cell--4-col">
        <div class="mdl-cell--12-col">
          <mdl-textfield type="text" name="firstName" label="Enter your first name" [(ngModel)]="enquiry.firstName" floating-label required></mdl-textfield>
        </div>
        <div class="mdl-cell--12-col">
            <mdl-textfield type="text" name="lastName" label="Enter your surname" [(ngModel)]="enquiry.lastName" floating-label required></mdl-textfield>
        </div>

        <div class="mdl-cell--12-col">
            <mdl-textfield type="text" name="emailAddress" label="Enter your email address" [(ngModel)]="enquiry.emailAddress" floating-label required></mdl-textfield>
        </div>
        <div class="mdl-cell--12-col">
            <mdl-textfield type="text" name="contactNumber" label="Enter your contact number" [(ngModel)]="enquiry.contactNumber" floating-label required></mdl-textfield>
        </div>
      </div>
      <div class="mdl-cell--4-col">
        <div class="mdl-cell--12-col">
          <!-- <mdl-textfield type="text" name="adultCount" label="Number of Adults" [(ngModel)]="enquiry.adultCount" value="2" floating-label required 
                pattern="-?[0-9]*(\.[0-9]+)?"
                error-msg="Enter a number"></mdl-textfield> -->
                <mdl-select name="No. of Adults" label="No. of Adults" [(ngModel)]="enquiry.adultCount" floating-label required [autocomplete]="true">       
                    <mdl-option *ngFor="let c of NoOfAdults" [value]="c.value">{{c.name}}</mdl-option>
                </mdl-select>
        </div>
        <div class="mdl-cell--12-col">
            <!-- <mdl-textfield type="text" name="childCount"  placeholder="0" class="txtNoofChild" label="Number of Children (under 12 years)" [(ngModel)]="enquiry.childCount" floating-label required 
                  pattern="-?[0-9]*(\.[0-9]+)?"
                  error-msg="Enter a number"></mdl-textfield> -->
                  <mdl-select name="No. of Children (under 12 years)" label="No. of Children (under 12 years)" [(ngModel)]="enquiry.childCount" floating-label required [autocomplete]="true">       
                      <mdl-option *ngFor="let c of NoOfChildren" [value]="c.value">{{c.name}}</mdl-option>
                  </mdl-select>
        </div>
        <div class="mdl-cell--12-col" *ngIf="enquiry.childCount > 0">
            <mdl-textfield type="text" name="childAges"  (blur)="onBlur()" placeholder="0" label="Children ages (separate with comma)" [(ngModel)]="enquiry.childAges" floating-label required></mdl-textfield>
        </div>
        <div class="mdl-cell--12-col">
            <!-- <mdl-textfield type="text" name="infantCount" placeholder="0" label="Number of Infants (under 2 years)" [(ngModel)]="enquiry.infantCount"  floating-label required 
                  pattern="-?[0-9]*(\.[0-9]+)?"
                  error-msg="Enter a number"></mdl-textfield> -->
                          
          <mdl-select name="No. of Infants (under 2 years)" label="No. of Infants (under 2 years)" [(ngModel)]="enquiry.infantCount" floating-label required [autocomplete]="true">
              <mdl-option [value]=null></mdl-option>
              <mdl-option *ngFor="let c of NoOfInfants" [value]="c.value">{{c.name}}</mdl-option>
          </mdl-select>
        </div>
      </div>
      <div class="mdl-cell--4-col">
        <div class="mdl-cell--12-col">
          <mdl-textfield type="text" #travelDatesPicker name="travelDates" [value]="daterange.label" label="Click to select travel dates" min="2" floating-label required 
                daterangepicker [options]="options" (selected)="selectedDate($event)"></mdl-textfield>
        </div>
        <div class="mdl-cell--12-col">
          <mdl-textfield type="text" name="departFrom" label="Departure city or airport" [(ngModel)]="enquiry.departFrom" floating-label required></mdl-textfield>
        </div>
        <div class="mdl-cell--12-col">
          <mdl-textfield type="text" name="comments" label="Any comments" value=" " [(ngModel)]="enquiry.comments" floating-label></mdl-textfield>
          
        </div>
      </div>
      
    </form>
  </div>
  <div class="mdl-dialog__actions">
    <button mdl-button mdl-button-type="raised" mdl-colored="accent" mdl-ripple [disabled]="!formEnquiry.form.valid" (click)="formEnquiry.ngSubmit.emit()">{{status}}</button>
    <button mdl-button (click)="enquireDialog.close()" mdl-ripple>Close</button>
  </div>
</mdl-dialog>